.topnav {
   background-color: #333333;
   overflow: hidden;
}
.topnav {
   background-color: lightblue;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: hotpink;
   color: black;
}

.topnav a.active {
   background-color: lightpink;
   color: #F9F6EE;
}
body {
      background-color:#CBC3E3;
   }
